<style>
h1 {font: 150%/150% "Palatino";}
p {font: 120%/125% "Verdana";}
a {font: 120%/125% "Verdana";}
h1{ color:#add8e6;}
p{ color:white;}
a{color:white;}
body{
background-color: #000080;
}

<style>
